.head {
    display: flex;
    align-items: center;
    height: 85px;
    padding: 0 32px;
    width: 100%;
    box-sizing: border-box;
}

.head__logo {
    height: 25px;
    width: 180px;
    background-image: url(./images/logo-header.svg);
}
.head__logo:hover{
    background-image: url(./images/hover-heder-logo.svg);
}

.head__nav {
    margin-left: auto;
}

.head__list {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.head__tag {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.head__lang {
    margin-left: 61px;
}

.head__col {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.head__row {
    cursor: pointer;
}

.hero-content__box {
    max-width: 1200px;
    margin-top: 77px;
}

.hero-content__text {
    font-size: 29px;
    font-weight: 400;
    line-height: 32px;
}

.head__tag:hover{
    color: #7950F2;
}
.head__row:hover{
    color: #7950F2;
}

.foot__pdf:hover{
    color: #7950F2;
}
.form__mail:hover{
    color: #7950F2;
}

.form{
    margin-top: 58px;
}

.form__wrapper {
    background-color: #F5F3F0;
    padding: 100px 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 140px;
    align-items: start;
}

.form__label {
    display: inline-flex;
    padding: 10px 18px;
    border-radius: 100px;
    background-color: #434343;
    margin-bottom: 77px;
}

.form__lead {
    font-size: 18px;
    color: #fff;
    margin: 0;
}

.form__title {
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 125px;
}

.form__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

.form__contact-form {
    flex-direction: column;
    margin-top: 100px;
}

.form__field:nth-child(2) {
    margin-top: 40px;
}

.form__field:nth-child(3) {
    margin-top: 62px;
}

.form__field input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    background: transparent;
    padding: 0 0 12px 0;
    font-size: 16px;
    outline: none;
}

.form__field:first-child input {
    margin-top: 8px;
}

.form__field input::placeholder {
    color: #242424;
}

.form__textarea-label {
    font-size: 16px;
    margin-bottom: 12px;
    display: block;
}

.form__field textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    background: transparent;
    padding: 10px 0;
    font-size: 16px;
    resize: none;
    height: 80px;
    outline: none;
}

.form__btn {
    margin-top: 35px;
    padding: 12px 45px;
    border-radius: 100px;
    border: none;
    background: #7950F2;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.form__contact-form::after {
    content: "";
    display: block;
}

.foot {
    background-color: #fff;
    padding: 48px 0 48px 0;
}

.foot__container {
    display: flex;
    flex-direction: column;
}

.foot__text {
    font-size: 14px;
    margin-bottom: 133px;
}

.foot__pdf {
    color: #000;
    text-decoration: underline;
}

.foot__logo {
    width: 994px;
    margin-bottom: 31px;
}

.foot__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot__copyright {
    font-size: 12px;
    color: #898989;
    margin: 0;
}

.foot__links {
    display: flex;
    gap: 23px;
}

.foot__link {
    font-size: 12px;
    color: #000;
    text-decoration: none;
}

.foot__link:hover {
    text-decoration: underline;
}

.mobile-menu-btn {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    margin-left: 124px;
}

.mobile-offcanvas {
    width: 100% !important;
    max-width: 100%;
    height: 100vh;
    border: none;
    transition: transform 0.5s cubic-bezier(.77,0,.18,1);
}

.mobile-offcanvas .offcanvas-body {
    padding: 0;
}

.mobile-offcanvas__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 17px 17px 217px 40px;
    background-color: #7950F2;
}

.mobile-offcanvas__top {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;
}

.mobile-offcanvas__close {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: 0.2s ease;
    margin-left: 117px;
}

.mobile-offcanvas__close:hover {
    opacity: 0.6;
}

.mobile-offcanvas__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.mobile-offcanvas__nav li {
    margin-bottom: 40px;
}

.mobile-offcanvas__nav a {
    font-size: 26px;
    text-decoration: none;
    color: #fff;
}

.mobile-offcanvas__lang {
    margin-top: auto;
    display: flex;
    gap: 20px;
    font-size: 14px;
}

.span{
    font-size: 18px;
    color: #fff;
}

.offcanvas-backdrop.show {
    opacity: 0.5;
}

.mobile__header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.head__logo-m {
    height: 25px;
    width: 180px;
    background-image: url(./images/white-logo.svg);
    color: #fff;
    background-repeat: no-repeat;
}
