/* HEADER */

.head {
    display: flex;
    align-items: center;
    height: 85px;
    padding: 0 32px;
    width: 100%;
    box-sizing: border-box;
}

/* Логотип */
.head__logo {
    height: 25px;
    width: 180px;
    background-image: url(./images/logo-header.svg);
}
.head__logo:hover{
    background-image: url(./images/hover-heder-logo.svg);
}

/* Меню */
.head__nav {
    margin-left: auto;
    /* зсуваємо меню вправо */
}

.head__list {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.head__tag {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

/* Мови */
.head__lang {
    margin-left: 61px;
    /* ← ТОЧНИЙ відступ між nav і мовами */
}

.head__col {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.head__row {
    cursor: pointer;
}
.head__tag:hover{
    color: #7950F2;
}
.head__row:hover{
    color: #7950F2;
}

.hero-content__box {
    max-width: 1200px;
    margin-top: 77px;
}
.hero-content{
    margin-bottom: -60px;
}
.hero-content__text {
    font-size: 29px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: -110px;
}

.gallery {
    padding-bottom: 50px;
    padding-top: 0px ;
}



.gallery__list-btn {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin-bottom: 39px;
}

.gallery__item-btn{
    font-size: 11px;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 10px 18px;
    border-radius: 100px;
    background-color: #F1F1F1;
}
.gallery__item-btn:hover{
    cursor: pointer;
    background-color: #7950F2;
    color: #fff;
}

/* GRID */

.gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    row-gap: 77px;
    /* ← між рядками */
    column-gap: 26px;
    /* ← між стовпцями */

    list-style: none;
    padding: 0;
    margin: 0 0 80px 0;
}

/* ITEM */

.gallery__item {
    display: flex;
    flex-direction: column;
}

/* IMAGE */

.gallery__img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    margin-bottom: 15px;
}

/* CATEGORY */

.gallery__subtitle {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #898989;
    margin: 0 0 8px 0;
}

/* TITLE */

.gallery__title {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}


/* ===== FORM SECTION ===== */


.form__wrapper {
    background-color: #F5F3F0;
    padding: 100px 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 140px;
    align-items: start;
}

/* ===== LEFT SIDE ===== */

.form__label {
    display: inline-flex;
    padding: 10px 18px;
    border-radius: 100px;
    background-color: #434343;
    margin-bottom: 77px;
}

.form__lead {
    font-size: 16px;
    color: #fff;
    margin: 0;
}

.form__title {
    font-size: 35px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 125px;
}

.form__subtitle {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
}

/* ===== RIGHT SIDE ===== */

.form__contact-form {
    flex-direction: column;
    margin-top: 100px;

}

/* ❌ прибрали старий margin-top:165px */

/* 40px між Name і Email */
.form__field:nth-child(2) {
    margin-top: 40px;
}

/* 62px між Email і Comment */
.form__field:nth-child(3) {
    margin-top: 62px;
}

/* INPUTS */
.foot__pdf:hover{
    color: #7950F2;
}
.form__mail:hover{
    color: #7950F2;
}
.form__field input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    background: transparent;
    padding: 0 0 12px 0;
    font-size: 16px;
    outline: none;
}

/* ВАЖЛИВО — підганяємо baseline */
.form__field:first-child input {
    margin-top: 8px;
    /* точне підбиття по тексту */
}

.form__field input::placeholder {
    color: #242424;
}

/* TEXTAREA */

.form__textarea-label {
    font-size: 16px;
    margin-bottom: 12px;
    display: block;
}

.form__field textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    background: transparent;
    padding: 10px 0;
    font-size: 16px;
    resize: none;
    height: 80px;
    outline: none;
}

/* 35px від коментаря до кнопки */
.form__btn {
    margin-top: 35px;
    padding: 12px 45px;
    border-radius: 100px;
    border: none;
    background: #7950F2;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

/* 77px до низу контейнера */
.form__contact-form::after {
    content: "";
    display: block;
}
/* ========================
   FOOTER
======================== */

.foot {
    background-color: #fff;
    padding: 48px 0 48px 0;
}

.foot__container {
    display: flex;
    flex-direction: column;
}

/* ===== PDF TEXT ===== */

.foot__text {
    font-size: 14px;
    margin-bottom: 133px;
}

.foot__pdf {
    color: #000;
    text-decoration: underline;
}

/* ===== BIG LOGO ===== */

.foot__logo {
    width: 994px;
    margin-bottom: 31px;
}

/* ===== BOTTOM ROW ===== */

.foot__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot__copyright {
    font-size: 12px;
    color: #898989;
    margin: 0;
}

.foot__links {
    display: flex;
    gap: 23px;
}

.foot__link {
    font-size: 12px;
    color: #000;
    text-decoration: none;
}

.foot__link:hover {
    text-decoration: underline;
}
/* ===============================
   OFFCANVAS CUSTOM
================================= */

.project__offcanvas {
    width: 1000px !important;
    max-width: 100%;
    transition: transform 0.5s cubic-bezier(.77, 0, .18, 1);
    background: #fff;
}


/* .offcanvas.offcanvas-end {
    transform: translateX(100%);
}

.offcanvas.show {
    transform: translateX(0);
} */

/* body */
.project__body {
    padding: 23px 32px 23px 64px;
    position: relative;
}

/* close */
.project__header {
    position: absolute;
    top: 23px;
    right: 32px;
}

.project__close {
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: 0.2s ease;
}

.project__close:hover {
    opacity: 0.6;
}

.project__subtitle {
    font-size: px;
    color: #898989;
    margin-bottom: 44px;

}

/* title */
.project__title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

/* text */
.project__text {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 40px;
    max-width: 520px;
}

/* big image */
.project__big-image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 26px;
}

.project__big-image:last-child {
    margin-bottom: 42px;
}

.project__big-image-box {
    width: 439px;
    border-radius: 12px;
}

/* затемнення фону */
.offcanvas-backdrop.show {
    opacity: 0.5;
}

.projects__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 26px;
}

.project__big-image-box:last-child {
    margin-left: 26px;
}






/* ======================================
   MOBILE MENU BUTTON
====================================== */

.mobile-menu-btn {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    margin-left: 124px;
}

/* ======================================
   FULLSCREEN OFFCANVAS
====================================== */

.mobile-offcanvas {
    width: 100% !important;
    max-width: 100%;
    height: 100vh;
    border: none;
    transition: transform 0.5s cubic-bezier(.77,0,.18,1);
}

.mobile-offcanvas .offcanvas-body {
    padding: 0;
}

.mobile-offcanvas__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 17px 17px 217px 40px;
    background-color: #7950F2;
}

/* CLOSE */

.mobile-offcanvas__top {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;
}

.mobile-offcanvas__close {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: 0.2s ease;
    margin-left: 117px;
}

.mobile-offcanvas__close:hover {
    opacity: 0.6;
}

/* NAV */

.mobile-offcanvas__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.mobile-offcanvas__nav li {
    margin-bottom: 40px;
}

.mobile-offcanvas__nav a {
    font-size: 26px;
    text-decoration: none;
    color: #fff;
}

/* LANG */

.mobile-offcanvas__lang {
    margin-top: auto;
    display: flex;
    gap: 20px;
    font-size: 14px;
}
.span{
    font-size: 18px;
    color: #fff;
}
/* BACKDROP */

.offcanvas-backdrop.show {
    opacity: 0.5;
}
.mobile__header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.head__logo-m {
    height: 25px;
    width: 180px;
    background-image: url(./images/white-logo.svg);
    color: #fff;
    background-repeat: no-repeat;
}











@media (max-width: 480px) {

    .container {
        margin: 0 auto;
        padding: 0 16px;
    }
    .head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }
    .gallery__list-btn {
        display: flex;
        flex-wrap: wrap;     
        gap: 12px;
        margin-bottom: 40px;
    }

    .gallery__item-btn {
        font-size: 16px;
        padding: 14px 35px;
        background-color: #EAEAEA;
        border-radius: 100px;
        display: inline-block;
        width: auto;          /* ⬅️ ГОЛОВНЕ */
        flex: unset;          /* прибираємо фіксовану ширину */
    }

    /* HERO */

    .hero {
        padding-top: 134px;
        padding-bottom: 60px;
    }

    .hero__title {
        font-size: 55px;
        line-height: 60px;
        text-align: center;
        margin-bottom: 139px;
    }

    .hero__sub {
        flex-direction: column;
        gap: 32px;
    }

    .hero__subtitle {
        font-size: 16px;
        letter-spacing: 10%;
        text-align: center;
    }

    .hero__icon {
        font-size: 28px;
    }
    .gallery__item:nth-child(n+7){
        display: none;

    }

    /* HERO IMAGE BLOCK */

    .hero-content__back {
        height: 680px;
        width: 100%;
    }

    .hero-content__back-subtitle {
        font-size: 26px;
        line-height: 28px;
        left: 16px;
        bottom: 50px;
    }

    /* TEXT BLOCK */

    .hero-content__container {
        margin-top: 40px;
    }

    .hero-content__text {
        font-size: 21px;
        line-height: 32px;
    }

    /* Прибираємо desktop flex-обмеження */
    .portfolio__left,
    .portfolio__right {
        flex: unset;
    }

    /* Заголовок акордеону */
    .portfolio__row {
        font-size: 20px !important;
        line-height: 26px;
        padding: 24px 0 !important;
    }

    /* Тіло акордеону */
    .portfolio__menu {
        display: flex;
        flex-direction: column;
        padding: 30px 0 40px 0;
        gap: 0;
    }

    /* Текст */
    .portfolio__inner {
        font-size: 18px;
        line-height: 28px;
    }

    /* Блок картинок */
    .portfolio__right {
        display: flex;
        flex-direction: row;      /* ← ГОРИЗОНТАЛЬНО */
        gap: 7px;
        margin-top: -110px;         /* ← ВІДСТУП ВІД ТЕКСТУ */
    }

    /* Картинки */
    .portfolio__img {
        width: 110px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        flex-shrink: 0;
    }
    .portfolio__label:last-child{
        margin-bottom: 0px;
    }
    .portfolio__text{
        font-size: 26px;
    }

    /* GALLERY */


    .gallery__list {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .gallery__img {
        height: 240px;
    }

    .gallery__title {
        font-size: 18px;
    }
    .gallery__btn{
        padding: 16px 130px;
    }

    /* FORM */

    .form__wrapper {
        grid-template-columns: 1fr;
        padding: 60px 20px;
        row-gap: 50px;
    }

    .form__title {
        font-size: 28px;
        margin-bottom: 40px;
    }

    .form__btn {
        width: 100%;
    }

    /* FOOTER */

    .foot__logo {
        width: 100%;
    }

    .foot__bottom {
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
    }
    .foot__links{
        display: none;
    }
    .project__body{
        padding: 16px;
    }
    .project__title{
        margin-top: 85px;
    }
    .project__text{
        line-height: 22px;
    }
    .project__subtitle{
        margin-top: 6px;
        font-size: 14px;
    }
    .project__big-image-box{    
        height: 204px;
    width: 100%;
    }
    .itemOne{
        display: none;
    }
    .project__big-image:last-child{
        margin-bottom: 81px;
    }

}

@media (max-width: 320px) {

    .container {
        max-width: 290px;
    }

    .hero__title {
        font-size: 34px;
    }

    .hero-content__back {
        height: 380px;
    }

    .hero-content__back-subtitle {
        font-size: 18px;
        line-height: 22px;
        max-width: 220px;
    }

    .hero-content__text {
        font-size: 16px;
        line-height: 24px;
    }

    .portfolio__row {
        font-size: 18px !important;
        line-height: 24px;
    }

    .portfolio__inner {
        font-size: 16px;
        line-height: 24px;
    }

    .portfolio__right {
        gap: 8px;
        margin-top: 35px;
    }

    .portfolio__img {
        width: 100px;
        height: 180px;
        border-radius: 10px;
    }

    .gallery__img {
        height: 200px;
    }

    .form__title {
        font-size: 24px;
    }
    .mobile-menu-btn{
        margin-left: 105px;
    }

}