/* HEADER */

.head {
    display: flex;
    align-items: center;
    height: 85px;
    padding: 0 32px;
    width: 100%;
    box-sizing: border-box;
}

/* Логотип */
.head__logo {
    background-image: url(./images/logo-footer.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    height: 25px;
}
.head__logo:hover{
    background-image: url(./Animation-Big.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    height: 25px;
}
.logo-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.logo{
    width: 180px;
    height: 25px;
    z-index: 2;
}
.gif{
    width: 180px;
    height: 25px;
    z-index: 1;
}
/*.head__logo {
    height: 25px;
    width: 180px;
    background-image: url(./images/logo-header.svg);
}*/
/*.head__logo:hover{
    background-image: url(./images/hover-heder-logo.svg);
}*/
/* Меню */
.head__nav {
    margin-left: auto;
}

.head__list {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.head__tag {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

/* Мови */
.head__lang {
    margin-left: 61px;
}

.head__col {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.head__row {
    cursor: pointer;
    font-size: 18px;
}

.head__tag:hover {
    color: #7950F2;
}

.head__row:hover {
    color: #7950F2;
}

/* HERO */

.hero {
    padding-top: 220px;
    padding-bottom: 78px;
}

.hero__container {
    display: flex;
    flex-direction: column;
}

/* Заголовок */

.hero__title {
    font-size: 130px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 360px 0;
    align-self: center;
}

/* Нижній блок */

.hero__sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.hero__subtitle {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

.hero__icon {
    font-size: 18px;
    margin: 0;
}

/*HERO-CONTANT*/


.hero-content {
    width: 100%;
}

/* Фон */
.hero-content__back {
    position: relative;
    width: 100%;
    height: 990px;
    background-image: url(./images/hero-content.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.1s ease-in-out;
}

.hero-content__back-subtitle {
    position: absolute;
    bottom: 120px;
    font-size: 55px;
    font-weight: 400;
    line-height: 55px;
    color: #fff;
    max-width: 700px;
    margin: 0;
}

/* .hero-content__back { 
    width: 100%;
    height: 640px;
    background-image: url(./images/hero-content.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end;    
    justify-content: flex-start;  

    padding-bottom: 80px;
    box-sizing: border-box;
}
.hero-content__back .container {
    display: flex;
    justify-content: flex-start; 
} */




.hero-content__container {
    margin-top: 60px;
}

.hero-content__box {
    margin-bottom: 329px;
    max-width: 1200px;
}

.hero-content__text {
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 50px;
}

.hero-content__text:last-child {
    margin-bottom: 0;
}

/*PORTFOLIO*/



.portfolio__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 14px 25px;
    border-radius: 100px;
    background-color: #434343;
    margin-bottom: 37px;

}

.portfolio__lead {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}



.portfolio__accordion {
    margin: 57px 0 215px 0;
}

.portfolio__accordion .accordion-item {
    border: none;
    border-bottom: 1px solid #D6D6D6;
    background: transparent;
}

.portfolio__accordion .accordion-item:first-child {
    border-top: 1px solid #D6D6D6;
}


.portfolio__accordion .accordion-button {
    background: none;
    box-shadow: none;
    padding: 48px 0;
}

.portfolio__accordion .accordion-button:not(.collapsed) {
    background: none;
    box-shadow: none;
    color: #000;
}


.portfolio__accordion .accordion-button::after {
    display: none !important;
}


.portfolio__row {
    font-size: 29px !important;
    font-weight: 400;
    line-height: 32px;
    color: #000;
    display: inline-block;   
    transform-origin: center center; /* Центр масштабу */
    transition: transform 0.35s ease, box-shadow 0.35s ease;
}
.portfolio__row:hover{
    transform: scale(1.02);
}

.portfolio__accordion .accordion-button{
    padding-left: 20px;
}
.portfolio__accordion .accordion-body {
    padding: 0px 0px 38px 0px;
}

.portfolio__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    padding: 40px 0 60px 0;
}



.portfolio__left {
    flex: 0 0 45%;
}

.portfolio__inner {
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    margin: 0px 0px 150px 0px;
    padding-left: 20px;
}



.portfolio__right {
    flex: 0 0 45%;
    display: flex;
    gap: 10px;
}

.portfolio__img {
    width: 100%;
    height: 233px;
    object-fit: cover;
    border-radius: 15px;
    display: block;
}


.accordion-collapse {
    transition: height 0.35s ease;
}

/* .portfolio__list {
    list-style: none;
    padding: 0;
    margin: 37px 0 138px 0;
}

.portfolio__item {
    padding: 32px 0;
    border-bottom: 1px solid #D6D6D6;
}

.portfolio__item:first-child {
    border-top: 1px solid #D6D6D6;
}

.portfolio__row {
    font-size: 29px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
} */

/* Блок "Чому з нами" */

.portfolio__box {
    margin-top: 52px;
    max-width: 900px;
}

.portfolio__text {
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 40px;
}

.portfolio__text:last-child {
    margin-bottom: 0;
}

/*GALLARY*/

.gallery {
    padding-top: 149px;
    padding-bottom: 92px;
}


.gallery__label {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 14px 25px;
    border-radius: 100px;
    background-color: #434343;

    margin-bottom: 65px;
}

.gallery__lead {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    margin: 0;
}

/* GRID */

.gallery__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 120px;
    column-gap: 40px;
    list-style: none;
    padding: 0;
    margin: 0 0 118px 0;
}



.gallery__item {
    display: flex;
    flex-direction: column;
}

/* IMAGE */

.gallery__img {
    width: 580px;
    height: 375px;
    object-fit: cover;
    margin-bottom: 18px;
}



.gallery__subtitle {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 10%;
    text-transform: uppercase;
    color: #898989;
    margin: 0 0 22px 0;
    line-height: 28px;

}


.gallery__title {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    line-height: 22px;
}

/* BUTTON */

.gallery__button-wrapper {
    display: flex;
    justify-content: center;
}

.gallery__btn {
    font-size: 18px;
    font-weight: 400;
    color: #fff;

    padding: 19px 92px;
    background-color: #7950F2;
    border-radius: 100px;

    text-decoration: none;
    transition: 0.3s ease;
}

.gallery__btn:hover {
    opacity: 0.85;
    background-color: #434343;
    color: #000;
}




.form__wrapper {
    background-color: #F5F3F0;
    padding: 95px 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 140px;
    align-items: start;
    margin: 141px 0 75px 0px;
}



.form__label {
    display: inline-flex;
    padding: 14px 25px;
    border-radius: 100px;
    background-color: #434343;
    margin-bottom: 120px;
}

.form__lead {
    font-size: 18px;
    color: #fff;
    margin: 0;
}

.form__title {
    font-size: 55px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 125px;
    line-height: 60px;
}

.form__subtitle {
    font-size: 20px;
    line-height: 100%;
    margin: 0;
}



.form__contact-form {
    flex-direction: column;
    margin-top: 255px;

}




.form__field:nth-child(2) {
    margin-top: 62px;
}


.form__field:nth-child(3) {
    margin-top: 96px;
}



.form__field input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    background: transparent;
    padding: 0 0 12px 0;
    font-size: 22px;
    outline: none;
}


.form__field:first-child input {
    margin-top: 8px;
}

.form__field input::placeholder {
    color: #242424;
}

.form__mail:hover {
    color: #7950F2;
}



.form__textarea-label {
    font-size: 22px;
    margin-bottom: 12px;
    display: block;
}

.form__field textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    background: transparent;
    padding: 10px 0;
    font-size: 16px;
    resize: none;
    height: 80px;
    outline: none;
}


.form__btn {
    margin-top: 35px;

    padding: 19px 70px;
    border-radius: 100px;
    border: none;

    background: #7950F2;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.form__btn:hover {
    opacity: 0.85;
    background-color: #434343;
}


.form__contact-form::after {
    content: "";
    display: block;
}
.form__subtitle--mobile {
    display: none;
}


.foot {
    background-color: #fff;
    padding: 48px 0 48px 0;
}

.foot__container {
    display: flex;
    flex-direction: column;
}



.foot__text {
    font-size: 20px;
    margin-bottom: 207px;
}

.foot__pdf {
    color: #000;
    text-decoration: underline;
}

.foot__pdf:hover {
    color: #7950F2;
}

.form__mail:hover {
    color: #7950F2;
}

.foot__logo {
    background-image: url(./images/logo-footer.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1540px;
    height: 220px;
    margin-bottom: 48px;
}
.foot__logo:hover{
    background-image: url(./Animation-Big.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1540px;
    height: 220px;
}



.foot__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot__copyright {
    font-size: 18px;
    color: #898989;
    margin: 0;
}

.foot__links {
    display: flex;
    gap: 35px;
}

.foot__link {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.foot__link:hover {
    text-decoration: underline;
}



.project__offcanvas {
    width: 1600px !important;
    max-width: 100%;
    transition: transform 0.5s cubic-bezier(.77, 0, .18, 1);
    background: #fff;
}


/* .offcanvas.offcanvas-end {
    transform: translateX(100%);
}

.offcanvas.show {
    transform: translateX(0);
} */


.project__body {
    padding: 23px 32px 23px 64px;
    position: relative;
}


.project__header {
    position: absolute;
    top: 23px;
    right: 32px;
}

.project__close {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.2s ease;
}

.project__close:hover {
    opacity: 0.6;
}

.project__subtitle {
    font-size: 14px;
    color: #898989;
    margin-bottom: 69px;

}


.project__title {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 60px;
}


.project__text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 42px;
    max-width: 805px;
}

.project__big-image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 26px;
}

.project__big-image:last-child {
    margin-bottom: 42px;
}

.project__big-image-box {
    width: 718px;
    border-radius: 12px;
}

.offcanvas-backdrop.show {
    opacity: 0.5;
}

.projects__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 26px;
}

.project__big-image-box:last-child {
    margin-left: 26px;
}








.mobile-menu-btn {
    background: none;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin-left: 124px;
    color: #000;
}



.mobile-offcanvas {
    width: 100% !important;
    max-width: 100%;
    height: 100vh;
    border: none;
    transition: transform 0.5s cubic-bezier(.77,0,.18,1);
}

.mobile-offcanvas .offcanvas-body {
    padding: 0;
}

.mobile-offcanvas__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 17px 17px 217px 40px;
    background-color: #7950F2;
}


.mobile-offcanvas__top {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;
}

.mobile-offcanvas__close {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: 0.2s ease;
    margin-left: 117px;
}

.mobile-offcanvas__close:hover {
    opacity: 0.6;
}


.mobile-offcanvas__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.mobile-offcanvas__nav li {
    margin-bottom: 40px;
}

.mobile-offcanvas__nav a {
    font-size: 26px;
    text-decoration: none;
    color: #fff;
}


.mobile-offcanvas__lang {
    margin-top: auto;
    display: flex;
    gap: 20px;
    font-size: 14px;
}
.span{
    font-size: 18px;
    color: #fff;
}

.offcanvas-backdrop.show {
    opacity: 0.5;
}
.mobile__header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.head__logo-m {
    height: 25px;
    width: 180px;
    background-image: url(./images/white-logo.svg);
    color: #fff;
    background-repeat: no-repeat;
}











@media (max-width: 480px) {

    .container {
        margin: 0 auto;
        padding: 0 16px;
    }
    .head{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 15px;
    }
    .hero-content__box{
        margin-bottom: 110px;
    }
    .portfolio__accordion{
        margin-bottom: 70px;
    }
    .portfolio__box{
        margin-top: 0px;
    }

    

    .hero {
        padding-top: 134px;
        padding-bottom: 60px;
    }

    .hero__title {
        font-size: 55px;
        line-height: 60px;
        text-align: center;
        margin-bottom: 139px;
    }

    .hero__sub {
        flex-direction: column;
        gap: 32px;
    }

    .hero__subtitle {
        font-size: 16px;
        letter-spacing: 10%;
        text-align: center;
    }

    .hero__icon {
        font-size: 28px;
    }

    
    .hero-content__back {
        height: 680px;
        width: 100%;
    }

    .hero-content__back-subtitle {
        font-size: 26px;
        line-height: 28px;
        left: 16px;
        bottom: 50px;
    }

    

    .hero-content__container {
        margin-top: 40px;
    }

    .hero-content__text {
        font-size: 21px;
        line-height: 32px;
    }

    
    .portfolio__left,
    .portfolio__right {
        flex: unset;
    }

    
    .portfolio__row {
        font-size: 20px !important;
        line-height: 26px;
        padding: 24px 0 !important;
    }

    .portfolio__menu {
        display: flex;
        flex-direction: column;
        padding: 30px 0 40px 0;
        gap: 0;
    }

    
    .portfolio__inner {
        font-size: 18px;
        line-height: 28px;
    }

    
    .portfolio__right {
        display: flex;
        flex-direction: row;      
        gap: 7px;
        margin-top: -110px;         
    }

    .portfolio__img {
        width: 110px;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        flex-shrink: 0;
    }
    .portfolio__label:last-child{
        margin-bottom: 0px;
    }
    .portfolio__text{
        font-size: 26px;
    }
    .portfolio__label:first-child{
        margin-bottom: 0px;
    }

    

    .gallery {
        padding-top: 80px;
    }

    .gallery__list {
        grid-template-columns: 1fr;
        row-gap: 50px;
    }

    .gallery__img {
        height: 240px;
    }

    .gallery__title {
        font-size: 18px;
    }
    .gallery__btn{
        padding: 16px 130px;
    }

    
    /* Прибираємо обмеження контейнера */
    .form .container {
        padding: 0;
        max-width: 100%;
        width: 100%;
    }

    /* Форма на всю ширину */
    .form__wrapper {
        padding: 40px 20px;
        width: 100%;
        border-radius: 0;
    }
    .form__wrapper {
        grid-template-columns: 1fr;
        padding: 50px 20px;
        row-gap: 50px;
    }
    .form__content{
        margin-top: -100px;
    }

    .form__title {
        font-size: 28px;
        margin-bottom: 40px;
    }

    .form__btn {
        width: 100%;
    }
    .form__subtitle {
        display: none;
    }

    .form__subtitle--mobile {
        display: block;
        margin-top: 55px;
        font-size: 16px;
        line-height: 24px;
    }

    /* FOOTER */
    .foot__text{
        margin-bottom: 106px;
        font-size: 14px;
    }

    .foot__logo {
        width: 345px;
        height: 49px;
        background-image: url(./Animation-Big.gif);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }

    .foot__bottom {
        flex-direction: column;
        gap: 12px;
        align-items: flex-start;
    }
    .foot__links{
        display: none;
    }
    .project__body{
        padding: 16px;
    }
    .project__title{
        margin-top: 85px;
    }
    .project__text{
        line-height: 22px;
    }
    .project__subtitle{
        margin-top: 6px;
        font-size: 14px;
    }
    .project__big-image-box{    
        height: 204px;
    width: 100%;
    }
    .itemOne{
        display: none;
    }
    .project__big-image:last-child{
        margin-bottom: 81px;
    }

}

@media (max-width: 320px) {

    .container {
        max-width: 290px;
    }

    .hero__title {
        font-size: 34px;
    }

    .hero-content__back {
        height: 380px;
    }

    .hero-content__back-subtitle {
        font-size: 18px;
        line-height: 22px;
        max-width: 220px;
    }

    .hero-content__text {
        font-size: 16px;
        line-height: 24px;
    }

    .portfolio__row {
        font-size: 18px !important;
        line-height: 24px;
    }

    .portfolio__inner {
        font-size: 16px;
        line-height: 24px;
    }

    .portfolio__right {
        gap: 8px;
        margin-top: 35px;
    }

    .portfolio__img {
        width: 100px;
        height: 180px;
        border-radius: 10px;
    }

    .gallery__img {
        height: 200px;
    }

    .form__title {
        font-size: 24px;
    }
    .mobile-menu-btn{
        margin-left: 105px;
    }

}