.head {
    display: flex;
    align-items: center;
    height: 85px;
    padding: 0 32px;
    width: 100%;
    box-sizing: border-box;
}

.head__logo {
    background-image: url(./images/logo-footer.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    height: 25px;
}
.head__logo:hover{
    background-image: url(./Animation-Big.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 180px;
    height: 25px;
}

.head__nav {
    margin-left: auto;
}

.head__list {
    display: flex;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.head__tag {
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    color: #000;
}

.head__lang {
    margin-left: 61px;
}

.head__col {
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
    margin: 0;
    align-items: center;
}

.head__row {
    cursor: pointer;
}
.head__tag:hover{
    color: #7950F2;
}
.head__row:hover{
    color: #7950F2;
}

.hero-content__container {
    margin-top: 60px;
}

.hero-content__box {
    margin-top: 120px;
    max-width: 1900px !important;
}

.hero-content__text {
    font-size: 45px;
    font-weight: 400;
    line-height: 50px;
    margin-bottom: 40px;
}

.hero-content__text:last-child {
    margin-bottom: 0;
}

.foot__pdf:hover{
    color: #7950F2;
}
.form__mail:hover{
    color: #7950F2;
}

.form{
    margin-top: 138px;
}

.form__wrapper {
    background-color: #F5F3F0;
    padding: 95px 120px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 140px;
    align-items: start;
    margin: 141px 0 75px 0px;
}

.foot__pdf:hover{
    color: #7950F2;
}
.form__mail:hover{
    color: #7950F2;
}

.form__label {
    display: inline-flex;
    padding: 14px 25px;
    border-radius: 100px;
    background-color: #434343;
    margin-bottom: 120px;
}

.form__lead {
    font-size: 18px;
    color: #fff;
    margin: 0;
}

.form__title {
    font-size: 55px;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 125px;
    line-height: 60px;
}

.form__subtitle {
    font-size: 20px;
    line-height: 100%;
    margin: 0;
}



.form__contact-form {
    flex-direction: column;
    margin-top: 255px;

}




.form__field:nth-child(2) {
    margin-top: 62px;
}


.form__field:nth-child(3) {
    margin-top: 96px;
}



.form__field input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    background: transparent;
    padding: 0 0 12px 0;
    font-size: 22px;
    outline: none;
}


.form__field:first-child input {
    margin-top: 8px;
}

.form__field input::placeholder {
    color: #242424;
}

.form__mail:hover {
    color: #7950F2;
}



.form__textarea-label {
    font-size: 22px;
    margin-bottom: 12px;
    display: block;
}

.form__field textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #CFCFCF;
    background: transparent;
    padding: 10px 0;
    font-size: 16px;
    resize: none;
    height: 80px;
    outline: none;
}


.form__btn {
    margin-top: 35px;

    padding: 19px 70px;
    border-radius: 100px;
    border: none;

    background: #7950F2;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.form__btn:hover {
    opacity: 0.85;
    background-color: #434343;
}


.form__contact-form::after {
    content: "";
    display: block;
}
.form__subtitle--mobile {
    display: none;
}
.form__mail:hover {
    color: #7950F2;
}

.foot {
    background-color: #fff;
    padding: 48px 0 48px 0;
}

.foot__container {
    display: flex;
    flex-direction: column;
}



.foot__text {
    font-size: 20px;
    margin-bottom: 207px;
}

.foot__pdf {
    color: #000;
    text-decoration: underline;
}

.foot__pdf:hover {
    color: #7950F2;
}



.foot__logo {
    background-image: url(./images/logo-footer.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1540px;
    height: 220px;
    margin-bottom: 48px;
}
.foot__logo:hover{
    background-image: url(./Animation-Big.gif);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 1540px;
    height: 220px;
}



.foot__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foot__copyright {
    font-size: 18px;
    color: #898989;
    margin: 0;
}

.foot__links {
    display: flex;
    gap: 35px;
}

.foot__link {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.foot__link:hover {
    text-decoration: underline;
}

.project__offcanvas {
    width: 1000px !important;
    max-width: 100%;
    transition: transform 0.5s cubic-bezier(.77, 0, .18, 1);
    background: #fff;
}

.project__body {
    padding: 23px 32px 23px 64px;
    position: relative;
}

.project__header {
    position: absolute;
    top: 23px;
    right: 32px;
}

.project__close {
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: 0.2s ease;
}

.project__close:hover {
    opacity: 0.6;
}

.project__subtitle {
    font-size: px;
    color: #898989;
    margin-bottom: 44px;
}

.project__title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.project__text {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 40px;
    max-width: 520px;
}

.project__big-image {
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    margin-bottom: 26px;
}

.project__big-image:last-child {
    margin-bottom: 42px;
}

.project__big-image-box {
    width: 439px;
    border-radius: 12px;
}

.offcanvas-backdrop.show {
    opacity: 0.5;
}

.projects__box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 26px;
}

.project__big-image-box:last-child {
    margin-left: 26px;
}

.mobile-menu-btn {
    background: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    margin-left: 124px;
}

.mobile-offcanvas {
    width: 100% !important;
    max-width: 100%;
    height: 100vh;
    border: none;
    transition: transform 0.5s cubic-bezier(.77,0,.18,1);
}

.mobile-offcanvas .offcanvas-body {
    padding: 0;
}

.mobile-offcanvas__body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 17px 17px 217px 40px;
    background-color: #7950F2;
}

.mobile-offcanvas__top {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 80px;
}

.mobile-offcanvas__close {
    width: 28px;
    height: 28px;
    cursor: pointer;
    transition: 0.2s ease;
    margin-left: 117px;
}

.mobile-offcanvas__close:hover {
    opacity: 0.6;
}

.mobile-offcanvas__nav {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.mobile-offcanvas__nav li {
    margin-bottom: 40px;
}

.mobile-offcanvas__nav a {
    font-size: 26px;
    text-decoration: none;
    color: #fff;
}

.mobile-offcanvas__lang {
    margin-top: auto;
    display: flex;
    gap: 20px;
    font-size: 14px;
}

.span{
    font-size: 18px;
    color: #fff;
}

.offcanvas-backdrop.show {
    opacity: 0.5;
}

.mobile__header{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.head__logo-m {
    height: 25px;
    width: 180px;
    background-image: url(./images/white-logo.svg);
    color: #fff;
    background-repeat: no-repeat;
}
